* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    background-color: rgb(0, 0, 41);
    color: whitesmoke;
    font-family: 'Young Serif', serif;
}

.nave {
    margin: 1rem;
    font-size: 7rem;
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0 1.5rem 0 1.5rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: #fcd435d7;
    transition: 0.4s;
}

.home {
    padding: 1rem;
    border: solid 2.5px #FCD535;
    border-radius: 1rem;
}

/*o cabeçalho acaba aqui */



.conteudo {
    display: flex;
    margin-top: 13rem;
    margin-bottom: 8%;
}

.texto {
    margin-left: 3rem;
}

img {
    width: 37rem;
    border-radius: 20rem;
}

h1 {
    font-size: 5rem;
    margin-left: 2rem;

}

span {
    font-size: 6rem;
    color: #FCD535;
}

p {
    font-size: 2rem;
    margin: 1rem;
    word-wrap: break-word;
}

/*o conteudo acaba aqui */

footer {
    background-color: #FCD535;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.txtfooter {
    font-size: 1.5rem;
    font-weight: bold;
}

.cttimg {
    width: 4rem;
    padding: 1rem;
}

.copy {
    font-size: 1.5rem;
}